<!-- products.html -->
<!DOCTYPE html>
<html>
<head>
    <title>All Products</title>
</head>
<body>
<h1>All Products</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop over the products and add rows to the table -->
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td>
                <form th:action="@{'/cart/add/'+ ${product.id}}" method="post">
                    <input type="submit" value="add to cart">
                </form>
                <!--                <a th:href="@{'/cart/add/'+ ${product.id}}">Add to cart</a>-->
            </td>
        </tr>

    </th:block>
    </tbody>
</table>
</body>
</html>
